body {
background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0.9) 100%), radial-gradient(at top center, rgba(255,255,255, 1) 0%, rgba(0,0,0,0.40) 100%) #999999;
 background-blend-mode: multiply,multiply;
}

nav {
  align-items: baseline;
  width: 100%;
  text-align: right;
  position: relative;
}

nav ul {
  padding: 0px!important;
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #DDD;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  font-size: 0.85em;
}

nav a:hover {
  color: #cc1332;
  transition-duration: 0.5s;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

header {
  font-size: 0.8em;
  width: 100%;
}

header h1{
  color: #DDD;
  margin-top: 30%;
}

header h2 {
  font-family: sans-serif;
  color: #cc1332;
  margin-top: -40px;
  font-size: 1em;
  margin-left: 15px;
}
